body {
    font-family: 'Ubuntu', sans-serif; 
    color:darkblue;
    background-color: azure;  
}

#name {
    color: darkblue;
    font-size: 30px;
}

p {
    color:cadetblue;
    font-size: 20px;
}

h1{
    text-shadow: 2px 2px 4px rgb(116, 229, 233);
}
h2{
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(116, 229, 233);
}
h4{
    color:cadetblue;
    line-height: 150%;
}

.technologies{
    text-align: right;
}

.jumbotron {
    background-color: azure;
}

#portfolio {
    background-color: azure;
}

#contact {
    text-align: center;
    line-height: 400%;
}
