body {
    font-family: 'Ubuntu', sans-serif; 
    color:darkblue;
    background-image: linear-gradient(cadetblue, azure); 
}

#name {
    background: -webkit-linear-gradient(cadetblue,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.card {
    height: 350px;
}

.card-body {
    background-image: linear-gradient(navy, cadetblue);
}

.card-text {
    color: lightblue;
}

.image {
    height: 200px;
}

.btn-group {
    background-image: linear-gradient(to bottom right, cadetblue, azure);
}

p {
    color:cadetblue;
    font-size: 20px;
}

h1 {
    text-shadow: 2px 2px 4px rgb(116, 229, 233);
}

h2 {
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgb(116, 229, 233);
}

h4 {
    color:cadetblue;
    line-height: 150%;
}

.technologies {
    text-align: right;
}

.jumbotron {
    background-color: azure;
}

#portfolio {
    background-color: azure;
}
.portfolio-title {
    text-decoration: underline;
}

#contact {
    padding: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
}